// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-order {
	margin-top: 30px;
}

.prod-count-mod {
  color: #888;
}
.prod-count-mod:visited {
  color: #888;
}
.prod-count-mod:hover {
  color: #000;
}